{% extends 'layouts/base.html' %}  

{%load static%}

{% block main %}

 {%include 'layouts/navbar.html'%}

 <div>
  <img src="{%static 'image/6.jpg'%}" alt="homeImage" width="100%">

</div>

        <div  class="flex justify-center my-10 ">

            <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
           
              {% for car in cars%}
             
                <div class=' w-[350px] m-auto	 '>
                 
                <div class="border border-solid  border-slate-400	 p-2.5 rounded-md	" >
              
                  <div class="w-full h-[250px]">
                <img class='h-full w-full object-cover rounded-md	' src="{{car.image}}">
              </div>
                <div class='flex justify-between'>
                    
                    <div>
                    <a class='titleCardDelete' href='/carDetails/{{car.id}}'>
                    <h5 class='card-title py-3 font-bold font-sans text-xl'> {{car.brand}}</h5></a>
                    </div>
                    <div class='py-3 text-center'>
                    <a href='/update/{{car.id}}'>
                    <img src="{% static 'image/edit.png' %}" width='15'></a>
                    </div>
                </div>


                <div class='text-center py-4'>
                  <a class='bg-[#0B5ED7] w-[49%] inline-block py-1.5 rounded-md text-white' href='/carDetails/{{car.id}}'>Details</a>
                  <a class='bg-[#5C636A] w-[49%] inline-block py-1.5 rounded-md text-white' href='/delete/{{car.id}}'>Delete</a>
                  </div>
                </div>

                  </div>

{% endfor %}
        

   
                  </div>
                  
                  </div>

                    {% comment %} <div class='modal fade' id='exampleModal_' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
                      <div class='modal-dialog'>
                        <div class='modal-content'>
                          <div class='modal-header'>
                            <h1 class='modal-title fs-5' id='exampleModalLabel'>Confirm</h1>
                            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                          </div>
                          <div class='modal-body'>
                           Do you want to delete ?
                          </div>
                          <div class='modal-footer'>
                            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                            <form  action='/delete/' method='post'>
                            <button class='btn btn-danger' type='submit'>Delete</button>
                            </form>
                           </div>
                        </div>
                    
                    </div> {% endcomment %}
                    
                   </div>
        
            </div>
     
       </div>




{% endblock main %}






